.body {
  position: absolute;
  background-image: url('../materials/images/mountainbackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
}

.centerbox {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 70%;
  background-color: rgba(1000, 1000, 1000, 0.25);
}

.loginside {
  position: relative;
  width: 50%;
  height: 100%;
  border-right: 2px dashed rgba(1000, 1000, 1000, 0.25);
}

.signinside {
  position: relative;
  width: 50%;
  height: 100%;
}

.loginheading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: rgba(1000, 1000, 500, 0.5);
  left: 5%;
  top: 3%;
  width: 90%;
  height: 15%;
  border-radius: 125px;
}